

@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body{
    background-color: #F4F4F4;
}

p{
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15pt;
    line-height: 22px;
    color: #000; 
    padding-right: 15px;
}

h3{
    font-family: 'Muli', sans-serif;
    font-size: 14.2px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1pt;
    line-height: 20px;
    color: #000;    
}


.my-icon-small{
    max-width: 16px;
    padding-top: 2px;
}

.my-icon{
    max-width: 24px;
}

.my-hr{
    border-top: 1px solid #000;
}

